body{
	background: #004050;
}

h3{
	color: white;
}

.centrado{
	position:absolute;
    top:50%;
    left: 50%;
    margin-top: 200px;
    margin-left: -100px;
}

.validation-errors-list {
	margin-bottom: 5px;
	width: 50%;
	background: #B80000;
	border-radius: 5px;
	font-size: 12px;
	color: #FFF;
	padding: 5px;
	display:block;
}

.form-2 {
    /* Size and position */
    width: 340px;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.form-2 h3 .log-in{
    display: inline-block;
    text-transform: uppercase;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.form-2 h3 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.balloon.bottom li {
	color: #FF0000;
	font-size: 13px;
	list-style: inside;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-top: 2px;
}


.error-li{
    margin-bottom:5px;
    width:50%;
    background: #B80000;
    border-radius: 5px;
    font-size: 12px;
    color: #FFF;padding: 5px;
    display:block;
}
