#search-grid { display: none; margin: auto}
#search-grid .search-grid-cell { display: inline-block; width: 33%;}
#search-grid input { height: 40px; width: 90%;}
#table-results-grid { margin: auto; width: 90%;border: 1px solid #000;}
#search-org-grid { display: none; margin: auto}
#search-org-grid .search-grid-cell { display: inline-block; width: 33%;}
#search-org-grid input { height: 40px; width: 90%;}
#table-org-results-grid { margin: auto; width: 90%;border: 1px solid #000;}